*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing-page{
    top:0;
    height: 100vh; 
    width: 100vw;
    background-image: linear-gradient(to top, #04befe 0%, #4481eb 100%);
    display: grid;
    place-items: center;
}

#text{
    height: 570px;
    font-size: 50px;
    font-family: 'Chewy', cursive;
    color: #075c07;
    animation: animate 10s linear infinite;
}

@media (max-width: 610px) {
    #text{
        display: none;
    }
    
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

span{
    position:absolute;
    transform-origin: 0 300px;
}

#florida-logo{
    position: absolute;
    height: 270px;
    width: 270px;
}

#florida-logo:hover{
    width: 310px;
    height: 310px;
    cursor: pointer;
}

#action-page{
    height:100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat;
    position: absolute;
    top:0;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    z-index: -1;
}

#nav-bar{
    padding: none;
}

#top-10{
    display: grid;
    grid-template-rows: repeat (10, 200px);
}

#list-item-first{
    border-color:  gold;
}

#list-item-second{
    border: 2px solid silver;
}

#list-item-third{
    border: 2px solid #CD7F32;
}

li{
    border: 2px solid #647082;
    border-radius: 20px;
    height: 8vh;
    margin: 0px 1vh 1.05vh 1vh;
    transition: 0.4s;
}

li:hover{
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    letter-spacing: 0.1em;
}

#no1{
    color: gold;
}

#no2{
    color: silver;
}

#no3{
    color: #CD7F32; 
}

#no1:hover{
    background-color: gold;
}

#display-card{
    display: grid;
    grid-template-rows: 2fr 8fr;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#render-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.list-item{
    font-family: 'Caveat Brush', cursive;
    color: #F16F29;
    font-size: 2.5vw;
    text-align: center;
    padding-top: 3px;
}

#header{
    border:none;
    font-size: 250%;
    text-align: center;
    padding-top:1vh;
    font-family: 'Jua', sans-serif;
}

@media (max-width: 1095px){
    #header{
        font-size: 150%;
        padding-top:3vh;
    }
}

#instructional-text{
    font-family: 'Jua', sans-serif;
    display: inline-block;
    font-size: 4vw;
    color: #001e3d;
    width: 30%;
}

#text-box{
    width:160px;
    height: 40%;
    margin: 10px;
    font-size: 40px;
    border-radius: 40px;
    margin-right:2vw;
}

#image-container{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image{
    max-width:300px;
    min-width: 100px;
    max-height: 100%;
    padding: 30px 15px 30px 30px;
    border-radius: 20%;
    margin-bottom: none;
}

#card-details{
    align-items: right;
    width: 50%;
    height: 90%;
    padding: 30px 30px 30px 15px;
    margin: none;
}

@media (max-width: 960px){
    #card-details{
        position: absolute;
        width: 100%;
        height: 50%;
        top:150px
    }
}

@media (max-width: 960px){
    #image-container{
        width:100%;
        height: 50%;
        position: absolute;
    }
}

#render-card-here{
    background-color: #003366;
    box-shadow: 10px 10px 5px #001e3d;
    border-radius: 30px;
    display: flex;
    height: 400px;
    width: 80%;
    margin: none;
    padding: none;

}

@media (max-width: 960px){
    #render-card-here{
        position: relative;
    }
}

#article-container{
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 10px;
}

@media (max-width: 956px){
    #article-container{
        height: 30%;
    }
}

#article{
    font-size: 20px;
    font-weight: bold;
    color: #a1a1a1;
}

@media (max-width: 1166px){
    #article{
        font-size: 17px;
    }
}

#submit-button{
    width:160px;
    height: 40%;
    border-radius: 40px;
    margin-right: 2vw;
    font-size: 30px;
}

@media (max-width: 809px){
    #instructional-text{
        font-size: 4.5vw;
    }
    #text-box{
        width:80px;
        font-size: 20px;
        margin-right:4vw;
    }
    #submit-button{
        width:80px;
        font-size: 15px;
        margin-right: 4vw;

    }
}

#submit-button:hover{
    cursor: pointer;
    border-color: black;
    box-shadow: 10px 10px 5px black;
    background-color: white;

}

#randomize{
    width: 50px;
    height: 50px;
}

#randomize:hover{
    cursor: pointer;
    width: 60px;
    height: 60px;
}

#click-here{
    font-family: 'Jua', sans-serif;
    position: absolute;
    font-size: 25px;
    left: 40vw;
}

#title{
    color: #04befe;
    padding-bottom: 10px;
}

@media (max-width: 1166px){
    #title{
        font-size: 20px;
    }
}

#date{
    color: #4481eb;
    padding-bottom: 10px;
}

@media (max-width: 1166px){
    #date{
        font-size: 17px;
    }
}


#up-arrow{
    height:4vh;
    width:2vw;
    margin-right: 10px;
    vertical-align: middle;
}

#up-arrow:hover{
    cursor: pointer;
    height:35px;
    width:35px;
}

#down-arrow{
    height:5vh;
    width:2vw;
    margin-top: 10px;
    vertical-align: middle;
}

#down-arrow:hover{
    cursor: pointer;
    height:40px;
    width:40px;
}

.like{
    background: white;
    border-radius: 20px;
    border-color: transparent;
    margin-right: 10px;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 15px;
}

.dislike{
    background: white;
    border-radius: 20px;
    border-color: transparent;
    margin-right: 10px;
    font-size: 25px;
}

#link{
    color: gray;
    font-size: 15px;
}

@media (max-width: 675px){
    #top-10{
        display: none;
    }
    #action-page{
        height:100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 10fr;
        position: absolute;
        top:0;
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        z-index: -1;
    }
}