*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing-page{
    top:0;
    height: 100vh; 
    width: 100vw;
    background-image: linear-gradient(to top, #04befe 0%, #4481eb 100%);
    display: grid;
    place-items: center;
}

#text{
    height: 570px;
    font-size: 50px;
    font-family: 'Chewy', cursive;
    color: #075c07;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

span{
    position:absolute;
    transform-origin: 0 300px;
}

#florida-logo{
    position: absolute;
    height: 270px;
    width: 270px;
}

#florida-logo:hover{
    width: 310px;
    height: 310px;
    cursor: pointer;
}

#action-page{
    height:100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat;
    position: absolute;
    top:0;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    z-index: -1;
}

#nav-bar{
    padding: none;
}

#top-10{
    display: grid;
    grid-template-rows: repeat (10, 200px);
}

#list-item-first{
    border-color:  gold;
}

#list-item-second{
    border: 2px solid silver;
}

#list-item-third{
    border: 2px solid #CD7F32;
}

li{
    border: 2px solid #647082;
    border-radius: 20px;
    height: 8vh;
    margin: 0px 1vh 1.05vh 1vh;
    transition: 0.4s;
}

li:hover{
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    letter-spacing: 0.1em;
}

#no1{
    color: gold;
}

#no2{
    color: silver;
}

#no3{
    color: #CD7F32; 
}

#no1:hover{
    background-color: gold;
}

#display-card{
    display: grid;
    grid-template-rows: 2fr 8fr;
}

#form-container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

#render-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.list-item{
    font-family: 'Caveat Brush', cursive;
    color: #F16F29;
    font-size: 3vw;
    text-align: center;
    padding-top: 3px;
}

#header{
    border:none;
    font-size: 35px;
    text-align: center;
}

#instructional-text{
    font-family: 'Jua', sans-serif;
    display: inline-block;
    font-size: 55px;
    color: #001e3d;
    width: 60%;
}

#text-box{
    width:50%;
    height: 40%;
    margin: 10px;
    font-size: 40px;
    border-radius: 40px;
}

#image-container{
    height: 100%;
    width: 50%;
}

#image{
    max-width:100%;
    max-height: 100%;
    padding: 30px 15px 30px 30px;
    align-items: left;
    border-radius: 20%;
    margin-bottom: none;
}

#card-details{
    align-items: right;
    width: 50%;
    height: 90%;
    padding: 30px 30px 30px 15px;
    margin: none;
}

#render-card-here{
    background-color: #003366;
    box-shadow: 10px 10px 5px #001e3d;
    border-radius: 30px;
    display: flex;
    height: 400px;
    width: 80%;
    margin: none;
    padding: none;

}

#article-container{
    height: 60%;
    overflow-x: scroll;
}

#article{
    font-size: 20px;
}

#submit-button{
    width:40%;
    height: 40%;
    border-radius: 40px;
}

#randomize{
    width: 50px;
    height: 50px;
}

#randomize:hover{
    cursor: pointer;
}

#click-here{
    font-family: 'Jua', sans-serif;
    position: absolute;
    font-size: 25px;
    left: 600px;
}

#title{
    color: #04befe;
    padding-bottom: 10px;
}

#date{
    color: #4481eb;
    padding-bottom: 10px;
}